@media only screen and (max-width: 730px)  and (min-width : 600px) {
  .MainLine{
    margin-top: 100px;
    margin-right:250px;
  }
}
@media only screen and (max-width: 450px) {
  .MainLine{
    margin-top: 190px;
  }
}
/* Faculty Section */
.faculty-header{
  text-align: center;
  margin-bottom: 70px;
}
.faculty-img{
  margin-left: 25px;
  height : 150px;
  width : 150px;
  border-radius: 50%;
}
.details{
  float: right;
  margin: 40px 60px 0 0;
}
@media only screen and (max-width: 450px) {
  .sir{
    margin-top: 60px;
  }
}
